<h1 class="text-center" mat-dialog-title>Login</h1>
<div class="">
    <form [formGroup]="loginForm">
        <div class="">
            <div class="">
                <label class="">Usuario</label><br>
                <input class="form-control" type="text" formControlName="username"><br>
                       <div *ngIf="Username?.errors && Username?.touched">
                             <p *ngIf="Username?.hasError('required')" class= "text-danger">
                                    El Usuario es requerido.
                             </p>
                       </div>
                <label>Contraseña</label><br>
                <input class="form-control" type="text" formControlName="password"><br>
                <div *ngIf="Password?.errors && Password?.touched">
                    <p *ngIf="Password?.hasError('required')" class= "text-danger">
                           La Contraseña es requerido.
                    </p>                    
              </div>               
            </div>
            <div  class="text-center" mat-dialog-actions>
              <button mat-button [mat-dialog-close]="true"  (click)="login()" cdkFocusInitial>Guardar</button>
              <button mat-button (click)="clickNoGuardar()">Cancelar</button>              
            </div>              
        </div>              
    </form> 
</div>




