<div class="container-fluid mt-2 shadow p-1 mb-3 rounded" style="max-width: 78%; min-width: 412px;">
<div  *ngFor="let item of acercaDeData">
  <div class="">
    <div class="row ms-1" style="min-width:50%;">
      <div class="col-6"> 
        <div class="row my-0">
          <img [src]="imagenComponente[1]"  class="img-fluid rounded-circle"   alt="foto_de_perfil" style="max-width: 350px; min-width: 150px;">       
      </div>    
      <div class="row mt-2 ms-1">
          <p class="col-auto">{{item.apellido}}</p>
          <p class="col-auto">{{item.nombre}}</p>
      </div>        
      </div>
      

      
      <div class="col-6 flex-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <h1 class="" >Acerca De Mi</h1>
                </div>
                <div class="col-3  text-end p-0">
                  <fa-icon [icon]="faPenToSquare" (click)="onedit(item.id)" style="font-size:30px;"></fa-icon>
                </div>                
            </div>
            <div class="row shadow-sm my-5">
                <p class="container-fluid p-0">
                    {{item.descripcion}}
                </p>
            </div>
        </div>
      </div>      
    </div> 
  </div> 
</div>
</div>


    