<form>
    <img class="mb-4" src="" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label>Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label>Password</label>  
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox"> Remember me
      </label>
    </div>
    <button (click)="send()" class="w-100 btn btn-lg btn-primary" type="submit" data-dashlane-rid="a886f894c87402c6" data-kwimpalastatus="dead" data-dashlane-label="true" data-form-type="action,login">Sign in</button>
    
  </form>
