<div class="container-fluid mt-2 shadow p-1 mb-3 rounded" style="max-width: 78%; min-width: 412px;">
<div class="container-fluid bg-secondary rounded mt-0">
    <div class="row">
        <div class="col-8 text-start p-1">
            <h1>Experiencia Laboral</h1>
        </div>
        <div class="col-4 text-end p-0">
            <fa-icon [icon]="faSquarePlus" (click)="openDialog()" style="font-size:30px;" class="btn"></fa-icon>
        </div>        
    </div>
</div>


<div>
    
    <ul *ngFor="let item of experienciaLaboral" class="container-fluid">
       <div class="container-fluid ps-4 shadow-sm p-1 my-3  rounded">   
        <div class="row">
            <div class="col-8"><h2>{{item.empresa}}</h2></div>
            <div class="col-4 text-end p-0">                
                <fa-icon [icon]="faPenToSquare" (click)="onedit(item.id)" style="font-size:20px;" class="btn"></fa-icon>                
                <fa-icon [icon]="faTrash" (click)="borrarElemento(item.id)" style="font-size:20px;" class="btn"></fa-icon>
            </div>             
        </div>  
        <div class="row align-items-center">
            <div  class="col-4 text-center shadow-sm" style="max-width:350px; max-height: 350px; min-width: 200px;" >
                <img [src]="imagenComponente[2] " class="img-fluid" /> 
            </div>    
            <div class="col-8 text-start">                
                <p>{{item.descripcion}}</p> 
                <p>{{item.ubicacion}}</p> 
            </div>  
        </div>
                         
               
       </div>
    </ul>
    
</div>
</div>