<h1 class="text-center" mat-dialog-title>Nueva Experiencia Laboral</h1>
<div class="">
    <form [formGroup]="experienciaForm">
        <div class="">
            <div class="">
                <label>Nombre de la Empresa</label><br>
                <input class="form-control" type="text" formControlName="empresa"><br>
                <label>Descripcion</label><br>
                <textarea class="form-control" type="textarea" formControlName="descripcion"></textarea><br>
                <label>ubicacion</label><br>
                <input class="form-control" type="text" formControlName="ubicacion"><br><br>
            </div>
            <div  class="text-center" mat-dialog-actions>
              <button mat-button [mat-dialog-close]="true"  (click)="clickGuardar()" cdkFocusInitial>Guardar</button>
              <button mat-button (click)="clickNoGuardar()">Cancelar</button>
              
            </div>   
           
        </div>
              
    </form> 
</div>
      
